[Desktop Entry]
Version=1.0
Name=Clippings
Name[es]=Recortes
Comment=Screenshot
Comment[es]=Capturar pantalla (pantallazo)
Icon=applets-screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-screenshooter.desktop
