[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Navegue por la web
Exec=/usr/lib/firefox-esr/firefox-esr %u
Icon=firefox-esr
Path=
Terminal=false
StartupNotify=true
