[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/quirinux/Escritorio/quirinux-marcadores-animacion.json]
row=0
col=0

[Papelera]
row=1
col=0

[/]
row=2
col=0

[/home/quirinux]
row=3
col=0

