[Desktop Entry]
Name=Audacity
Comment=Audio editor similar to Adobe Audition
Comment[es]=Editor de audio similar a Adobe Audition
Keywords=audio;sound;alsa;jack;editor;audition;wavelabs;
GenericName=Wavelabs, Sound Forge y Audition
Icon=audacity
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=audacity %F
StartupNotify=false
Terminal=false
MimeType=application/x-audacity-project;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;application/ogg;audio/x-vorbis+ogg;
X-XFCE-Source=file:///usr/share/applications/audacity.desktop
