[Desktop Entry]
Version=1.1
Type=Application
Name=Calculator
Name[es]=Calculadora
Comment=Simple and scientific calculator
Comment[es]=Calculadora simple y científica
Icon=accessories-calculator
Exec=galculator
Actions=
Categories=Utility;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/galculator.desktop
