[Desktop Entry]
Name=Kdenlive
Name[es]=Kdenlive
GenericName=Video Editor
GenericName[es]=Editor de video
Comment=Video editor similar to Adobe Premiere
Comment[es]=Editor de video similar a Adobe Premiere
Type=Application
Exec=kdenlive %F
Icon=kdenlive
StartupWMClass=kdenlive
X-DocPath=kdenlive/index.html
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
Keywords[es]=edición;video;audio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
X-XFCE-Source=file:///usr/share/applications/org.kde.kdenlive.desktop
