[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/artisan/Desktop/eggs-adapt.desktop]
row=4
col=0

[/home/artisan/Desktop/penguins-eggs.desktop]
row=5
col=0

[2022-04-04-13-10-29-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/artisan]
row=3
col=0

