[Desktop Entry]
Version=1.0
GenericName=Color Picker
Name=Color Picker (cuentagotas)
Type=Application
Icon=gtk-color-picker
Keywords=Color Picker;gpick;gcolor;color;colour
Exec=color-picker %F
Categories=Graphics;Qt;
Terminal=false
X-XFCE-Source=file:///usr/share/applications/color-picker.desktop
Comment=Seleccionar un color de la pantalla
Path=
StartupNotify=false
