[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/artisan/Desktop/eggs-adapt.desktop]
row=3
col=0

[/home/artisan/Desktop/penguins-eggs.desktop]
row=4
col=0

[Cestino]
row=0
col=0

[/]
row=1
col=0

[/home/artisan]
row=2
col=0

