Package: penguins-wardrobe
Version: {{.BaseVersion}}-{{.Rel}}
Section: admin
Priority: optional
Architecture: {{.Arch}}
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: {{.Depends}}
Description: penguins-wardrobe: dress up your Linux distribution
 penguins-wardrobe is a lightweight tool to manage and apply system
 configurations, desktop environments, and themes ("costumes")
 to Linux distributions.
