[Desktop Entry]
Version=1.0
Type=Application
Name=Recortes
Comment=Captura de pantalla (pantallazo)
Exec=xfce4-screenshooter
Icon=applets-screenshooter
Path=
Terminal=false
StartupNotify=false
