[Desktop Entry]
Categories=Qt;System;
Comment=Install Nexa Linux
Exec=pkexec eggs sysinstall
GenericName=Install Nexa Linux
Icon=install-system
Keywords=calamares;system;install
MimeType=
Name=Install Nexa Linux
StartupNotify=true
StartupWMClass=calamares
Terminal=@@TERMINAL@@
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
