Name:           penguins-wardrobe
Version:        {{.BaseVersion}}
Release:        {{.Rel}}
Summary:        penguins-wardrobe: dress up your Linux distribution
License:        GPL-3.0-only
Group:          System/Management
URL:            https://github.com/pieroproietti/penguins-wardrobe

Requires:       git
Requires:       rsync

%define debug_package %{nil}
%define __os_install_post %{nil}

%description
penguins-wardrobe is a lightweight tool to manage and apply system configurations,
desktop environments, and themes ("costumes") to Linux distributions.

%prep
%build

%install
mkdir -p %{buildroot}/usr
cp -a %{_stagedir}/usr/* %{buildroot}/usr/
if [ -d %{_stagedir}/etc ]; then
    mkdir -p %{buildroot}/etc
    cp -a %{_stagedir}/etc/* %{buildroot}/etc/
fi

%files
/usr/bin/wardrobe
/usr/share/man/man1/*
/usr/share/bash-completion/completions/*
/usr/share/fish/vendor_completions.d/*
/usr/share/zsh/vendor-completions/*

%changelog
* {{.RpmDate}} Piero Proietti <piero.proietti@gmail.com> - {{.BaseVersion}}-{{.Rel}}
- Automated build via penguins-wardrobe builder for openSUSE
