[Desktop Entry]
Categories=Qt;System;
Comment[en_US]=Install Abuntu
Comment=Install Abuntu
Comment[es]=Instalación del sistema GUI
Comment[fr]=Installation du système  GUI
Comment[it]=Installazione sistema GUI
Comment[pt]=Instalação do sistema  GUI
Exec=install-system.sh
GenericName[en_US]=Install Abuntu
GenericName=Install Abuntu
GenericName[es]=Instalación del sistema
GenericName[fr]=Installation du système
GenericName[it]=Installa sistema
GenericName[pt]=Instalação do sistema
Icon=/home/abuntu/.wardrobe/vendors/abuntu/theme/artwork/install-system.png
Keywords=calamares;system;install
MimeType=
Name[en_US]=Install system
Name=Install system
Name[es]=Instalación del sistema
Name[fr]=Installation du système
Name[it]=Installa sistema
Name[pt]=Instalação do sistema
Path=
StartupNotify=true
StartupWMClass=calamares
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
