[Desktop Entry]
Version=1.1
Type=Application
Name=Calculadora
GenericName=Calculadora
Comment=Calculadora simple y científica
Icon=accessories-calculator
Exec=galculator
Actions=
Categories=Utility;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/galculator.desktop
Path=
Terminal=false
