[Desktop Entry]
Version=1.0
Type=Application
Name=Grabar escritorio
Comment=Grabar video y sonido del escritorio
Exec=kazam
Icon=camera-video
Path=
Terminal=false
StartupNotify=false
